{#--------------------------------------------------------#}
{#-----------------------기본 홈페이지-----------------------#}
{#--------------------------------------------------------#}
{% extends "smartfarm/base.html" %}
{% block description %}
    <p class="lead my-3 font-weight-bold">| 일정참여 | 과행사 참여 설문조사</p>
{% endblock %}

{% block contents %}
    {% load static %}
    <link href="{% static 'survey/style.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-1">
            {% if surveys.exists %}
                {% for s in surveys.all %}
                    <a class="col" href="{{ s.get_absolute_url }}" id="post-{{ s.pk }}">
                        <div class="card radius-10 border-start border-0 border-3 border-warning">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <p class="mb-0 text-secondary">{{ s.subject }}</p>
                                        <h4 class="my-1 text">{{ s.title }}</h4>
                                        <p class="mb-0 font-13">{{ s.created_at }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <h3>설문이 없습니다.</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}