{% extends 'smartfarm/base.html' %}
{% block description %}
    <p class="lead my-3 font-weight-bold">| 설문조사 | 과행사 참여 설문조사</p>
{% endblock %}

{% block contents %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">설문등록</h5>
    <form method="post" class="post-form my-3">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                   value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">폼링크</label>
            <textarea class="form-control" name="content"
                      id="content" rows="5">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}