{#--------------------------------------------------------#}
{#-----------------------기본 홈페이지-----------------------#}
{#--------------------------------------------------------#}

{% extends "smartfarm/base.html" %}
{% block description %}
    <p class="lead my-3 font-weight-bold">| 학과제휴 | 2022년 학과 제휴 업체 및 위치</p>
{% endblock %}

{% block contents %}
{% load static %}
<div class="px-3 nav-scroller col-6"><!--navbar start-->
    <nav class="nav d-flex justify-content-between">
        <a class="text-secondary font-weight-bold"
           href="{% url 'cafe' %}">> 카페/디저트</a>
        <a href="{% url 'convenience' %}"
           class="text-secondary font-weight-bold">편의</a>
        <a href="{% url 'food' %}"
           class="text-secondary font-weight-bold">음식점</a>
        <a href="{% url 'bar' %}"
           class="text-secondary font-weight-bold">술집</a>
    </nav>
</div><!--navbar end-->
<div class="col-md-9 mt-5">
    <div>
        <div><img src="{% static 'partnership/images/cafe.PNG' %}"
                width="800px"></div>
        <div class="mt-5"><img src="{% static 'partnership/images/cafe_list.PNG' %}"
                width="800px"></div>
    </div>
    <div>
        <div class="mt-5 font-weight-bold">
            <h4>
                <i class="text-success fas fa-duotone fa-location-dot"></i>
                위치
            </h4>
        </div>
        <iframe id="map"
                title="map"
                width="700"
                height="400"
                src="{% static 'partnership/index_cafe.html' %}"
                class="ml-5 mt-2">
        </iframe>
    </div>
</div>

{% endblock %}