{% extends "todo_app/base.html" %}
{% block content %}

<hr class="my-4">
<h3 class="display-4"><a href="/todo/"><i class="fa-solid fa-house-chimney"></i></a> <strong>Todo : {{ title }}</strong></h3>
<hr class="my-4">
<form method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input value="Submit" type="submit">
</form><br>
<div class="btn-group btn-group-md" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary btn-md" onclick="location.href='{% url "list" todo_list.id %}'">Cancel</button>
    {% if object %}
        <button type="button" class="btn btn-danger btn-md" onclick="location.href='{% url "list-delete" todo_list.id %}'">Delete this list</button>
    {% endif %}
</div>
{% endblock %}