{% extends 'smartfarm/base.html' %}
{% load static %}
{% load survey_filter %}

{% block section %}
    <section class="page-section bg-black">
        <div class="container px-1 px-lg-1" style="font-family: Arial, Helvetica Neue, Helvetica, sans-serif;">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="justify bg-white" style="border-radius: 2em;">
                    <br/>
                    <hr class="divider"/>
                    <h3 style="font-weight: bold">과 방 관 리</h3>
                    <hr class="divider"/>

                    {% if user.is_active %}
                        <a href="/room/create_post/" class="btn btn-primary text-white">글등록</a>
                    {% endif %}
                    <br/>

                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th class="col-2" scope="col">번호</th>
                            <th class="col-6" scope="col">제목</th>
                            <th class="col-3" scope="col">작성일시</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if post_list %}
                            {% for p in post_list %}
                                <tr>
                                    <td>{{ post_list.paginator.count|sub:post_list.start_index|sub:forloop.counter0|add:1 }}</td>
                                    <td>
                                        <a href="{% url 'room:detail' p.id %}"
                                           style="color: black; text-decoration: none;"
                                           id="post-{{ p.pk }}">{{ p.title }}</a>
                                    </td>
                                    <td>{{ p.created_at|date:"Y-m-d" }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="3">글이 없습니다.</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                    <!-- 페이징처리 시작 -->
                    <ul class="pagination justify-content-center">
                        <!-- 이전페이지 -->
                        {% if post_list.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ post_list.previous_page_number }}">이전</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                            </li>
                        {% endif %}
                        <!-- 페이지리스트 -->
                        {% for page_number in post_list.paginator.page_range %}
                            {% if page_number >= post_list.number|add:-5 and page_number <= post_list.number|add:5 %}
                                {% if page_number == post_list.number %}
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <!-- 다음페이지 -->
                        {% if post_list.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ post_list.next_page_number }}">다음</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                            </li>
                        {% endif %}
                    </ul>
                    <!-- 페이징처리 끝 -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}