{% extends "smartfarm/base.html" %}

{% block section %}
    <section class="page-section bg-black">
        <div class="container px-1 px-lg-1" style="font-family: Arial, Helvetica Neue, Helvetica, sans-serif;">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="justify bg-white" style="border-radius: 2em;">
                    <br/>
                    <hr class="divider"/>
                    <h3 style="font-weight: bold">과 방 관 리</h3>
                    <hr class="divider"/>

                    <h1>{{ post.title }}</h1>
                    <h4>{{ post.created_at }}</h4>
                    {% if post.head_image %}
                        <img class="img-fluid rounded" src="{{ post.head_image.url }}"
                             alt="{{ post.title }} head_image">
                    {% else %}
                        <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.id }}/800/200"
                             alt="random_image">
                    {% endif %}
                    <p>{{ post.content }}</p>
                    {% if post.file_upload %}
                        <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" roll="button" download>
                            Download:

                            {% if post.get_file_ext == 'csv' %}
                                <i class="fas fa-file-csv"></i>
                            {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                                <i class="fas fa-file-excel"></i>
                            {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                                <i class="fas fa-file-word"></i>
                            {% elif post.get_file_ext == 'pdf' %}
                                <i class="fas fa-file-pdf"></i>
                            {% else %}
                                <i class="fas fa-file"></i>
                            {% endif %}
                            {{ post.get_file_name }}


                        </a>
                    {% endif %}
                    <hr/>
                </div>
            </div>
        </div>
    </section>
{% endblock %}