{% extends "smartfarm/base.html" %}
{% block description %}
    <p class="lead my-3 font-weight-bold">| 과방관리 | 과방관리 및 구비물품 조사</p>
{% endblock %}


{% block contents %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>roomsetting</title>
    <script src="https://kit.fontawesome.com/385d134c77.js" crossorigin="anonymous"></script>
</head>
<body>

<h1>{{ post.title }}</h1>
<h4>{{ post.created_at }}</h4>
{% if post.head_image %}
    <img class="img-fluid rounded" src="{{ post.head_image.url }}" alt = "{{ post.title }} head_image">
{% else %}
    <img class="img-fluid rounded" src="https://picsum.photos/seed/{{post.id}}/800/200" alt="random_image">
{% endif %}
<p>{{ post.content }}</p>
{% if post.file_upload %}
    <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" roll = "button"download>
        Download:

        {% if post.get_file_ext == 'csv' %}
            <i class="fas fa-file-csv"></i>
        {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
            <i class="fas fa-file-excel"></i>
        {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
            <i class="fas fa-file-word"></i>
        {% elif post.get_file_ext == 'pdf' %}
            <i class="fas fa-file-pdf"></i>
        {% else %}
            <i class="fas fa-file"></i>
        {% endif %}
        {{ post.get_file_name }}



    </a>
{% endif %}
<hr/>
</body>
</html>

{% endblock %}