{% extends "smartfarm/base.html" %}
{% load static %}


{% block section %}
    <section class="page-section bg-black" id="contact">
        <div class="container px-1 px-lg-1" style="font-family: Arial, Helvetica Neue, Helvetica, sans-serif;">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="justify bg-white" style="border-radius: 2em;">
                    <br/>
                    <hr class="divider"/>
                    <h3 style="font-weight: bold">학 과 위 치</h3>
                    <hr class="divider"/>

                    <div class="ml-3 text-secondary">
                        <div>
                            <div class="row ml-2">
                                <div class="py-2 text-success">
                                    <i class="fas fa-duotone fa-location-dot fa-2x"></i>
                                </div>
                                <div class="ml-4">
                                    <h5 class="font-weight-bold">주소</h5>
                                    <h8 class="py-2">전라북도 전주시 덕진구 백제대로 567 전북대학교 농업생명과학대학 1호관 402호</h8>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div>
                            <div class="row ml-2">
                                <div class="text-info">
                                    <i class="fas fa-regular fa-map-location-dot fa-2x"></i>
                                </div>
                                <div class="ml-4">
                                    <h5 class="py-1 font-weight-bold">지도</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <iframe id="map"
                                title="map"
                                width="900"
                                height="500"
                                src="{% static 'location/index.html' %}">
                        </iframe>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </section>
{% endblock %}