{% extends "smartfarm/base.html" %}
{% load static %}

{% block section %}
    <section class="page-section bg-black">
        <div class="container px-1 px-lg-1" style="font-family: Arial, Helvetica Neue, Helvetica, sans-serif;">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="justify bg-white" style="border-radius: 2em;">
                    <br/>
                    <hr class="divider"/>
                    <h3 style="font-weight: bold">학 생 회 조 직</h3>
                    <hr class="divider"/>

                    <img src="{% static 'images/student_council.jpg' %}" width="50%" height="50%"/>
                </div>
            </div>
        </div>
    </section>
{% endblock %}