<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dayoung Kang</title>
        <link href="style.css" rel="stylesheet" type="text/css">
        <link href="images/logome.png" rel="icon">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1></h1>
        </header>

        <section>
            <div class="card">
                <h1>Dayoung kang</h1>
                <p class="title">Student</p>
                <p>Jeonbuk National University</p>
                <p><button onclick="location.href='mailto:kallzero1008@jbnu.ac.kr';">Contact</button></p>
            </div>

            {% for p in posts%}
                <h1><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h1>
                <h4>{{ p.created_at }}</h4>
                <p>{{ p.content }}</p>
                <hr/>
            {% endfor %}
        </section>
    </body>
</html>