<!--Use file CSS-->
{% load static %}
<!--<link rel="stylesheet" href="{% static 'blog/style.css' %}" media="screen">-->
<script src="{% static 'blog/what_time.js' %}"></script>

<!--Bootstrap CSS-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<button onclick="whatTimeIsIt()">현재시간</button>
<center>
  <h3 class="text-uppercase fw-bold mb-4">
    강 다 영
  </h3>
</center>

{% for post in post_list %}
<!--  Blog Post-->
<div class="card mb-4">
  <div class="card-body">
    {% if post.head_image %}
      <img src="{{ post.head_image.url }}" alt="{{ post }} head image">
    {% else %}
      <img src="https://picsum.photos/seed/{{ post.get_seed }}/600/200" alt="random image">
    {% endif %}
    <h2 class="card-title">{{ post.title }}</h2>
    <p class="card-text">{{ post.content }}</p>
    <a href="{{ post.get_absolute_url}}" class="btn btn-primary">Read More &rarr;</a>
  </div>

  <div class="card-footer text-muted">
    Posted on {{ post.created_at }} by <a href="#">작성자명 위치 (개발예정)</a>
  </div>
</div>
{% endfor %}

