{#--------------------------------------------------------#}
{#-----------------------기본 홈페이지-----------------------#}
{#--------------------------------------------------------#}

{% extends "smartfarm/base.html" %}
{% block description %}
    <p class="lead my-3 font-weight-bold">| 공지사항 | 학과 공지사항</p>
{% endblock %}

{% block contents %}

    {% if notices.exists %}
        {% for n in notices.all %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>날짜</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ n.pk }}</td>
                    <td onclick="location.href='{{ n.get_absolute_url }}'" id='post-{{ n.pk }}'>{{ n.title }}</td>
                    <td>{{ n.created_at }}</td>
                </tr>
                </tbody>
            </table>
        {% endfor %}
    {% else %}
        <h3>공지사항이 없습니다.</h3>
    {% endif %}
{% endblock %}