<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
</head>
<body>
<div class="container">
    <div class="card-header">
        <strong>| About |</strong>
    </div>
    <div class="card-body my-4">
        <h4>Instroduction</h4>
        <p>안녕하시렵니까 전북대학교 스마트팜학과에 재학중인 강다영입니다.
            코딩을 좋아하고 개발이나 데이터분석, 모델링 등 여러 경험을 공모전이나 학부연구생 활동을 통해 해보고있습니다.
            "멋쟁이 사자처럼"과 같은 부트캠프도 참여해보고 싶습니다.
            현재 데이터사이언티스트를 꿈꾸며 Python, MachineLearning을 공부중입니다.
            코딩데스트를 통과하기위해 "Baekjoon Online Judge"로 알고리즘 공부와 알고리즘 설계를 위한
            이산수학을 공부하고자 합니다. 또한 정기적으로 데이터사이언스 관련 논문을 읽고 요약해 네이버 블로그에 정리해보고자 합니다.
            정말 하고자하는게 많네요 ... 열심히 살아야겠습니다 👍
        </p>
        <br>
        <h4>SKILLS</h4>
        <p>
            - Tools : Pycharm, JetBrains, GitHub<br>
            - Langs : Python, HTML, CSS<br>
            - Skills : pandas, selenium, machinelearning, data preprocessing
        </p>
    </div>
</div>
</body>
</html>