{% extends 'smartfarm/base.html' %}

{% block section %}
    <section class="page-section bg-black" style="font-family: Arial, Helvetica Neue, Helvetica, sans-serif;">
        <div class="container px-1 px-lg-1">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="justify bg-white" style="border-radius: 2em;">
                    <br/>
                    <hr class="divider"/>
                    <h3 style="font-weight: bold">문 의 사 항</h3>
                    <hr class="divider"/>

                    <h3>{{ question.subject }}</h3>
                    <h2 class="border-bottom py-2" style="text-align: left">질문</h2>
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="card-text" style="white-space: pre-line;">{{ question.content }}</div>
                            <div class="d-flex justify-content-end">
                                <div class="badge bg-success text-white p-2">
                                    {{ question.create_date|date:"Y년 m월 d일 | H시 i분" }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 class="border-bottom py-2" style="text-align: left">답변</h2>
                    <p>{{ question.answer_set.count }}개의 답변이 있습니다.</p>
                    {% for answer in question.answer_set.all %}
                        <div class="card my-3">
                            <div class="card-body">
                                <div class="card-text" style="white-space: pre-line;">{{ answer.content }}</div>
                                <div class="d-flex justify-content-end">
                                    <div>
                                        {% if user.is_active %}
                                            <a href="{% url 'qna:answer_modify' answer.id %}"
                                               class="btn btn-sm btn-outline-secondary">수정</a>
                                            <a href="{% url 'qna:answer_delete' answer.id %}" class="delete btn btn-sm btn-outline-secondary ">삭제</a>
                                        {% endif %}
                                    </div> &ensp;
                                    <div class="badge bg-danger text-white p-2">
                                        {{ answer.create_date|date:"Y년 m월 d일 | H시 i분" }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                    {% if user.is_active %}
                        <form action="{% url 'qna:answer_create' question.id %}" method="post" class="my-3">
                            {% csrf_token %}
                            <!-- 오류표시 Start -->
                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% for field in form %}
                                        {% if field.errors %}
                                            <div>
                                                <strong>{{ field.label }}</strong>
                                                {{ field.errors }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <!-- 오류표시 End -->
                            <div class="form-group">
                                <textarea name="content" id="content" class="form-control" rows="10"></textarea>
                            </div>
                            <br/>
                            <input type="submit" value="답변등록" class="btn btn-primary">
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}