{#--------------------------------------------------------#}
{#-----------------------기본 홈페이지-----------------------#}
{#--------------------------------------------------------#}

{% extends "smartfarm/base.html" %}
{% load static %}
{% block contents %}
    <div class="carousel-inner bg-black is-round-title">
        <div class="item-active">
            <img src="{% static 'smartfarm/images/banner.jpg' %}" style="width: 100%">
        </div>
    </div>

    <br/><br/>

    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="border: none">
                <div class="card-body">
                    <p class="card-text">
                    <div class="row">
                        <div class="col-4">
                            <img onclick="location.href='https://www.instagram.com/jbnu_smartfarm/'"
                                 src="{% static 'smartfarm/images/instagram.png' %}" width="100%">
                        </div>
                        <div class="col-8">
                            <h5 style="font-weight: bold">인스타그램</h5>
                            <small>@jbnu_smartfarm</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="border: none">
                <div class="card-body">
                    <p class="card-text">
                    <div class="row">
                        <div class="col-4">
                            <img onclick="location.href='https://pf.kakao.com/_jsWPb'"
                                 src="{% static 'smartfarm/images/kakao.png' %}" width="100%">
                        </div>
                        <div class="col-8">
                            <h5 style="font-weight: bold">카카오톡채널</h5>
                            <small>@smartfarm_jbnu</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="border: none">
                <div class="card-body">
                    <p class="card-text">
                    <div class="row">
                        <div class="col-4">
                            <img onclick="location.href='mailto:smartfarm.jbnu@gmail.com'"
                                 src="{% static 'smartfarm/images/gmail.png' %}" width="100%">
                        </div>
                        <div class="col-8">
                            <h5 style="font-weight: bold">구글이메일</h5>
                            <small>smartfarm.jbnu</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="border: none">
                <div class="card-body">
                    <p class="card-text">
                    <div class="row">
                        <div class="col-4">
                            <img onclick="location.href='https://sfarm.jbnu.ac.kr/jsf/index.do'"
                                 src="{% static 'smartfarm/images/jbnu.png' %}" width="100%">
                        </div>
                        <div class="col-8">
                            <h5 style="font-weight: bold">학과사이트</h5>
                            <small>전북대학교 스마트팜학과</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}