{#--------------------------------------------------------#}
{#-----------------------기본 홈페이지-----------------------#}
{#--------------------------------------------------------#}

{% extends "smartfarm/base.html" %}
{% block contents %}
    <div class="row mb-2">
        <div class="col-md-7">
            <div id='calendar-container'>
                <div id='calendar'></div>
            </div>
        </div>
        <div class="col-md-5">
            <!--            <br><h4 class="text-center font-weight-bold">주요 게시판</h4>-->
            <table class="table">
                <strong class="d-inline-block mb-2 text-danger">* 공지사항 *</strong>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><a href="#">개인정보 처리방침 변경안내처리방침</a></td>
                    <td>2022.10.08</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td><a href="#">개인정보 처리방침 변경안내처리방침</a></td>
                    <td>2022.10.08</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><a href="#">개인정보 처리방침 변경안내처리방침</a></td>
                    <td>2022.10.08</td>
                </tr>
                </tbody>
            </table>
            <br>
            <table class="table">
                <strong class="d-inline-block mb-2 text-danger">* 행사설문 *</strong>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><a href="#">개인정보 처리방침 변경안내처리방침</a></td>
                    <td>2022.10.08</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td><a href="#">개인정보 처리방침 변경안내처리방침</a></td>
                    <td>2022.10.08</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><a href="#">개인정보 처리방침 변경안내처리방침</a></td>
                    <td>2022.10.08</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}